@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap");

.garden-title {
display: flex;
justify-content: center;
font-family: "Montserrat Alternates", sans-serif;
font-size: 500rem;
}
